<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xptschool.parent">

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
        android:required="false" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.low_latency"
        android:required="false" />

    <application
        android:name=".XPTApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="icon,name">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${API_KEY_BAIDU}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${UMENG_MESSAGE_SECRET}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".ui.homework.HomeWorkActivity" />
        <activity
            android:name=".ui.homework.HomeWorkDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".ui.album.LocalAlbumDetailActivity" />
        <activity android:name=".ui.notice.NoticeActivity" />
        <activity
            android:name=".ui.notice.NoticeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.question.QuestionActivity" />
        <activity android:name=".ui.question.AskQuestionActivity" />
        <activity android:name=".ui.mine.MyChildActivity" />
        <activity android:name=".ui.question.QuestionDetailActivity" />
        <activity android:name=".ui.score.ScoreActivity" />
        <activity android:name=".ui.checkin.CheckinActivity" />
        <activity android:name=".ui.checkin.ChechinDetailActivity" />
        <activity android:name=".ui.leave.LeaveActivity" />
        <activity android:name=".ui.alarm.AlarmActivity" />
        <activity android:name=".ui.alarm.AlarmMapActivity" />
        <activity android:name=".ui.course.CourseActivity" />
        <activity
            android:name=".ui.contact.ContactsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.setting.AboutActivity" />
        <activity android:name=".ui.contact.ContactsDetailActivity" />
        <activity
            android:name=".ui.leave.LeaveDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.main.SplashActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".ui.mine.MyInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.cardset.CardMoniterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fence.FenceListActivity"
            android:label="@string/title_activity_fence_list"
            android:theme="@style/AppTheme" />

        <!-- 必须配置 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Android N之后配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xptschool.parent.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- 必须配置 -->

        <service android:name=".push.MyPushIntentService" />
        <service android:name=".push.MyNotificationService" />

        <activity android:name=".ui.fence.FenceDrawActivity" />
        <activity android:name=".ui.fence.FenceShowActivity" />
        <activity android:name=".ui.setting.ChangePwdActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.main.WebViewActivity" />
        <activity android:name=".ui.cardset.CardSOSActivity" />
        <activity android:name=".ui.cardset.CardWhiteListActivity" />
        <activity android:name=".ui.wallet.WalletActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx1af4f660ce9e6b37" /> <!-- 需修改 -->
            </intent-filter>
        </activity>
        <activity android:name=".wxapi.WXPayEntryActivity" />

        <receiver
            android:name=".wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.wallet.pocket.PocketActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.pocket.RechargeActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.card.StuCardActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.bill.BillActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.card.CardRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.setting.TutelageActivity" />
        <activity android:name=".ui.wallet.pocket.bill.PocketDetailActivity" />
        <activity android:name=".ui.wallet.bankcard.AddBankCardActivity" />
        <activity android:name=".ui.wallet.bankcard.BankListActivity" />
        <activity android:name=".ui.wallet.pocket.BankCardChooseActivity" />
        <activity android:name=".ui.wallet.pocket.TakeOutMoneyActivity" />
        <activity android:name=".ui.wallet.pocket.bill.BillDetailActivity" />

        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".ui.chat.RecordVideoActivity" />

        <activity android:name=".ui.wallet.TelephoneFareActivity"></activity>

        <service android:name=".server.SocketService" />
        <service android:name=".imsdroid.NativeService" />

    </application>

</manifest>